Repository hmcts/send-letter-service-container-proc, pull requests merged in 2021-11, with the labels that each got.

#65 Dtsbps 773 fix CVE
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-proc-pr-65

#67 bump azure blob storage lib
  build.gradle
  src/test/java/uk/gov/hmcts/reform/sendletter/services/SasTokenGeneratorServiceTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-proc-pr-67

#73 Increase parallelism and reduce polling interval
  charts/rpe-send-letter-service-container-proc/Chart.yaml
  charts/rpe-send-letter-service-container-proc/values.perftest.template.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-proc-pr-73
