Repository hmcts/send-letter-service-container-proc, pull requests merged in 2021-06, with the labels that each got.

#7 DTSBPS-626: fix spring-vulnerabilities
  build.gradle
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-proc-pr-7

#8 Add dependabot config
  .github/dependabot.yml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-proc-pr-8

#22 DTSBPS-612: Zip process code optimization.
  src/main/java/uk/gov/hmcts/reform/sendletter/blob/BlobProcessor.java
  src/main/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobReader.java
  src/main/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobUpload.java
  src/main/java/uk/gov/hmcts/reform/sendletter/config/AccessTokenProperties.java
  src/main/java/uk/gov/hmcts/reform/sendletter/exceptions/LeaseIdNotPresentException.java
  src/main/java/uk/gov/hmcts/reform/sendletter/exceptions/UnableToZipException.java
  src/main/java/uk/gov/hmcts/reform/sendletter/model/BlobInfo.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sendletter/blob/BlobProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobReaderTest.java
  src/test/java/uk/gov/hmcts/reform/sendletter/blob/component/BlobUploadTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-proc-pr-22

#23 DTSBPS-633: spring boot upgrade
  build.gradle
  config/owasp/suppressions.xml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sendletter/services/SasTokenGeneratorServiceTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-proc-pr-23

#26 adding completions to 5
  charts/rpe-send-letter-service-container-proc/Chart.yaml
  charts/rpe-send-letter-service-container-proc/values.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-proc-pr-26

#28 DTSBPS 642 logging message
  src/main/java/uk/gov/hmcts/reform/sendletter/Application.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-proc-pr-28

#29 DTSBPS-642: logging message in app-insight
  src/main/java/uk/gov/hmcts/reform/sendletter/Application.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-proc-pr-29
